<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <haeder>
        <a href="{% url 'menu:main_menu' %}">Main Menu</a>
    </haeder>
    {% if menu_items %}
        <ul>
            {% for menu in menu_items %}
            <li>
                <a href="{% url 'menu:menu_list' menu_slug=menu.slug %}">
                    {{ menu.name }}
                </a>
                <ul>
                    {% for submenu in submenu_items %}
                    {% if submenu.parent.id == menu.id %}
                    <li>
                        <a href="{% url 'menu:menu_list' menu_slug=submenu.slug %}">
                            {{ submenu.name }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>