<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <haeder>
        <a href="{% url 'menu:main_menu' %}">Main Menu</a>
        {% if current_menu %} >>> {{ current_menu }}{% endif %}
    </haeder>
    {% if menu_items %}
        <ul>
            {% for menu in menu_items %}
            <li>
                <a href="{% url 'menu:menu_list' menu_slug=menu.slug %}">
                    {{ menu.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>